Source: rfswitch
Section: net
Priority: optional
Maintainer: Kel Modderman <kel@otaku42.de>
Uploaders: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5.0.37), bzip2, dpatch
Standards-Version: 3.7.2
Vcs-Svn: svn://svn.berlios.de/fullstory/rfswitch/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/rfswitch/trunk/

Package: rfswitch-source
Architecture: all
Depends: debhelper (>= 5.0.37), module-assistant, bzip2
Description: source code for the rfswitch drivers
 Modules for controlling the software RF kill switch on the
 Averatec 5100P and Packard Bell EasyNote E5. The code may work 
 on other laptops, but these are the only models on which it has 
 been tested.
 .
 This package provides the source code for the rfswitch kernel modules.
 Kernel source or headers are required to compile these modules.
 .
 Homepage: http://rfswitch.sourceforge.net/
