#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/quilt/quilt.make

build: build-stamp
build-stamp: $(QUILT_STAMPFN)
	dh build --before configure
	dh build --after build
	touch $@

clean: unpatch
	dh $@

install: install-stamp
install-stamp: build-stamp
	dh install --before dh_auto_install
	
	install -D -m 0755 debian/rules.modules \
		debian/tmp/modules/rfswitch/debian/rules
	
	for f in debian/*.modules.in debian/control debian/compat  \
		 debian/copyright debian/changelog; do \
		install -m 0644 $$f debian/tmp/modules/rfswitch/debian/; \
	done
	
	tar -cf - -T debian/driver.files | \
		tar -C debian/tmp/modules/rfswitch/ -xf -
		
	mkdir -p debian/rfswitch-source/usr/src/
	tar jcf debian/rfswitch-source/usr/src/rfswitch.tar.bz2 \
		-C debian/tmp modules
	
	touch $@

binary-arch: install
	# We have nothing to do by default.
	#dh $@

binary-indep: install
	dh $@

binary: binary-arch binary-indep
.PHONY: binary binary-arch binary-indep install clean build
