#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/dpatch.mk

install/rfswitch-source::
	# Enforce executable bit on debian/rules, and create directory structure for 
	# modules source
	install -D -m 0755 debian/rules.modules \
		debian/tmp/modules/rfswitch/debian/rules
	
	# Prepare the other debian stuff
	for f in debian/*.modules.in debian/control debian/compat  \
		 debian/copyright debian/changelog; do \
		install -m 0644 $$f debian/tmp/modules/rfswitch/debian/; \
	done
	
	# Prepare upstream source
	tar -cf - -T debian/driver.files | \
		tar -C debian/tmp/modules/rfswitch/ -xf -
		
	# Prepare the debian source tarball
	tar jcf debian/rfswitch-source/usr/src/rfswitch.tar.bz2 \
		-C debian/tmp modules
